body{
.abc{
    font-size: 200%;
    color: aliceblue;
    font-style: italic;
}
.def{
    color: darkkhaki;
    font-size: 150%;
}
.edf{
    color: aliceblue;
    font-size: 120%;
}
.uuuu{
    text-align: center;
    color: aliceblue;
}
.lkl{
    text-align: center;
    color: aliceblue;
}
.qwe{
    text-align: center;
    color: aliceblue;
}
.ppp{
    color: darkkhaki;
}
.aaaa{
    color: aliceblue;
}
.pak{
    padding-bottom: 0%;

}
}
