:root{
    --primary-color:#007bff;
    --secondary-color: #343a40;
    --light-color:#f8f9fa;
    --white:#ffffff;
    --font-family:arial,sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-family);
    line-height: 1.6;
    color: var(--secondary-color);
}

.container{
    width: 85%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
.section-padding{
    padding: 60px 0;
    justify-content: center;

}
.navbar{
    background-color: var(--white);
    color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0.2px 4px rgba(0,0,0,0.1) ;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.logo{
    color: var(--primary-color);
    font-size: 1.8em;
}
.navbar ul{
    list-style: none;
    display: flex;
    
}
.navbar ul li a{
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition:color 0.3s background-color 0.3s;
    -webkit-transition:color 0.3s background-color 0.3s;
    -moz-transition:color 0.3s background-color 0.3s;
    -ms-transition:color 0.3s background-color 0.3s;
    -o-transition:color 0.3s background-color 0.3s;
}
.navbar ul li a:hover{
    color: var(--white);
    background-color: var(--primary-color);
}
.cta-buttons{
    margin-top: 20px;
}
.cta-secondary,.cta-primary{
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s , transform 0.3s;
    -webkit-transition: background-color 0.3s , transform 0.3s;
    -moz-transition: background-color 0.3s , transform 0.3s;
    -ms-transition: background-color 0.3s , transform 0.3s;
    -o-transition: background-color 0.3s , transform 0.3s;
}
.cta-primary{
    background-color: var(--primary-color);
    color: var(--white);
    border: 2px solid var(--primary-color);
    margin: 20px;
}
.cta-primary:hover{
    background-color: #0056b3;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    
}

.cta-secondary{
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.cta-secondary:hover{
    background-color: var(--primary-color);
    color: var(--white);
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}
.hero{
    background: url("hero.jpg") no-repeat center center/cover;
    background-color: #e9ecef;
    text-align: center;
    padding: 100px 0;
    
    
    

}
.hero h2{
    font-size: 3em;
    margin-bottom: 10px;
    color: var(--secondary-color);
    
    
}
.service-list,portfolio-grid, .team-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minimax(250px,1fr));
    gap: 30px;
    margin-top: 30px;
    text-align: center;
}
.service-item,project-card,.team-member{
    padding: 20px;
    border: 1px solid #dddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0,0.1);
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}
.team-member{
    
    width: 100%;
    max-width: 400px;
    text-align: center;
    
}
.team-grid{
    display: flex;
}
.service-item:hover,project-card:hover,.team-member:hover{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);

    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}



.Contact-Form input,.Contact-Form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.Contact-Form button{
    width: 100%;
    cursor: pointer;
}
footer{
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-align: center;
    padding: 20px 0;
}
.profilepic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.eeee{
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}