:root{
    --primary-color: #2c3e50;
    --secondary-color:#3298db;
    --text-light: #ecf0f1;
    --text-dark:#2c3e50;
    --transmition-speed:0.3s;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--text-light);
    height: 60px;
    transition: background-color var(--transmition-speed);
    -webkit-transition: background-color var(--transmition-speed);
    -moz-transition: background-color var(--transmition-speed);
    -ms-transition: background-color var(--transmition-speed);
    -o-transition: background-color var(--transmition-speed);

    z-index: 1000;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar.scrolled{
    background-color: var(--text-light);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.navbar.scrolled .navbabr-logo a,
.navbar.scrolled .navbar-menu a{
    color: var(--text-dark);
}
.navbar-menu{
    list-style: none;
    display: flex;
}
.navbar-menu li{
    margin-left: 25px;
}
.navbar-menu a{
    text-decoration: none;
    color: var(--text-light );
    padding: 5px 10px;
    display: block;
    transition: all var(--transmition-speed);
    -webkit-transition: all var(--transmition-speed);
    -moz-transition: all var(--transmition-speed);
    -ms-transition: all var(--transmition-speed);
    -o-transition: all var(--transmition-speed);

    font-size: 1.1em;

}
.navbar-menu a:hover{
    color: var(--secondary-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.hamburger-icon{
    display: none;
    cursor: pointer;
}
.bar{
    width: 25px;
    height: 3px;
    background-color: var(--text-light);
    margin: 4px 0;
    transition: all var(--transmition-speed);
    -webkit-transition: all var(--transmition-speed);
    -moz-transition: all var(--transmition-speed);
    -ms-transition: all var(--transmition-speed);
    -o-transition: all var(--transmition-speed);
}
.oop{
    text-align: center;
    padding: 50px 50px;
    color: #2c2e21;

}